<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT searchDocType ANY>
<!ATTLIST searchDocType id ID #REQUIRED>

]>
<root id="-1">
  <homePage id="1055" key="a0d6163b-26b8-4a94-9e52-c0c686fe2064" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-05-26T23:07:02" updateDate="2016-05-27T01:09:35" nodeName="Home Page" urlName="home-page" path="-1,1055" isDoc="" nodeType="1051" creatorName="arun" writerName="arun" writerID="0" template="1050" nodeTypeAlias="homePage">
    <gridSlatProperty><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Test",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<p>sfasdfasdasdadsasdas</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "styles": {},
          "config": {
            "id": "0",
            "class": "1"
          },
          "hasConfig": true,
          "id": "b29625a2-351c-6abb-1373-85126f094ccb",
          "active": false
        },
        {
          "name": "Article",
          "areas": [
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Test",
                  "editor": {
                    "alias": "quote"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 8,
              "hasConfig": false,
              "controls": [
                {
                  "value": null,
                  "editor": {
                    "alias": "embed"
                  },
                  "active": false
                }
              ],
              "active": false
            }
          ],
          "styles": {},
          "config": {
            "id": "1"
          },
          "hasConfig": true,
          "id": "f31dfdb4-6f8e-52e7-13f2-b51e88828d46",
          "active": true
        }
      ]
    }
  ]
}]]></gridSlatProperty>
    <searchDocType id="1058" key="7f249348-44cc-47d8-a27b-5703bb5ba33d" parentID="1055" level="2" creatorID="0" sortOrder="0" createDate="2016-05-31T16:27:29" updateDate="2016-05-31T16:27:29" nodeName="search" urlName="search" path="-1,1055,1058" isDoc="" nodeType="1057" creatorName="arun" writerName="arun" writerID="0" template="1056" nodeTypeAlias="searchDocType" />
  </homePage>
</root>