@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.HomePage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
<h1> TEst</h1>

@CurrentPage.GetGridHtml("gridSlatProperty","CustomBootstrap3")